<form action="<%=band_memberships_path%>" method="post">
	
	<select multiple class="form-control" name="musician_id" id="">
		<% @musicians.each do |musician| %> 
			<option value="<%=musician.id%>"><%= musician.name %></option>
		<% end %>
	</select>
	<select multiple class="form-control" name="band_id" id="">
		<% @bands.each do |band| %> 
			<option value="<%=band.id%>"><%= band.name %></option>
		<% end %>
	</select>
	<button class="btn btn-warning" id="submit">Submit Band Membership</button>
</form>